.music_player {
  display: flex;
  width: 240px;
  padding-bottom: 6px;
}

.music_button_container {
  display: flex;
}

.music_button_container > button {
  color: var(--color-white);
  padding-bottom: 4px;
}

.music_button_container > button:not(:first-child) {
  margin-left: 16px;
}

.music_inform_container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin: auto 0 auto 16px;
}

.music_title {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.music_title span {
  padding-right: 40px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
